<div class="row">
  <div class="col-4">
    <%= form_for [:admin, :movie, :movie_session, @booking], html: { multipart: true } do |f| %>
      <% if @booking.errors.any? %>
        <div id="error_explanation">
          <h2> Ошибок: <%= @booking.errors.count %> </h2>

          <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.hidden_field :movie_session_id %><br>
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
        <%= f.label :email %><br>
        <%= f.email_field :email %><br>
        <%= f.label :phone %><br>
        <%= f.text_field :phone %><br>
        <%= label_tag :seat, 'ряд' %><br>
        <%= text_field_tag :row %><br>
        <%= label_tag :char, 'место' %><br>
        <%= text_field_tag :char %><br>
      </p>
      <%= f.submit 'ok' %>
    <% end %>
  </div>

  <div class="col-8">
    <h3>Схема зала</h3>
    <table class="hall">
        <% @hall[:rows].times do |row| %>
            <tr>
              <td class="row"><%= row + 1 %> ряд</td>
              <% @hall[:seats].times do |seat| %>
                <td class=" <%= 'block' if @booking.movie_session.bookings.map {|booking| booking[:seat] }.include?((row + 1).to_s + ':' + (seat + 1).to_s) %>"><%= seat + 1 %></td>
              <% end %>
            </tr>
        <% end %>
    </table>
  </div>
</div>
