<h1>Recensios</h1>
<h2><%= link_to 'Add Recensio', new_recensio_path %></h2>
 
 <table>
<% @recensios.each do |recensio| %>
  <tr>
    <td>
      <%= link_to recensio.critic_name, recensio_path(recensio) %>
      <%= link_to recensio.critic_email, recensio_path(recensio) %>
    </td>
    <td>
      <%= recensio.body %>
    </td>
    <td><%= link_to 'edit', edit_recensio_path(recensio) %></td>
    <td><%= link_to 'delete', recensio_path(recensio), method: :delete, data: { confirm: 'Действительно удалить?' } %></td>
  </tr>
<% end %>

</table>
 </div>
