<h1>Movies</h1>
<h2><%= link_to 'Add Movie', new_admin_movie_path %></h2>
 
 <table>
<% @movies.each do |movie| %>
  <tr>
    <td>
      <%= link_to movie.title, admin_movie_path(movie) %>
    </td>
    <td>
      <%= movie.description %>
    </td>
    <td><%= link_to 'edit', edit_admin_movie_path(movie) %></td>
    <td><%= link_to 'delete', [:admin, movie], method: :delete, data: { confirm: 'Действительно удалить?' } %></td>
  </tr>
<% end %>

</table>
