<h1>Movie</h1>
<p><%= image_tag @movie.image.url(:medium) unless @movie.image.file.nil? %></p>
<p><%= @movie.title %></p>
<p><%= @movie.description %></p>

<h2>Рецензии</h2>

<div class="recensio">
  <% @movie.recensios.each do |recensio| %>
    <p>
      <h3><%= recensio.critic_name %></h3>
      <%= recensio.body %>
    </p>
<% end %>
</div>

<div class="form">
  <%= form_for [:admin, @movie, @recensio] do |f| %>
    <p>
      <%= f.label :critic_name, 'Ваше имя' %><br>
      <%= f.text_field :critic_name %>
    </p>

    <p>
      <%= f.label :critic_email, 'email' %><br>
      <%= f.text_field :critic_email %>
    </p>

    <p>
      <%= f.label :body, 'текст' %><br>
      <%= f.text_area :body %>
    </p>
    <%= f.submit 'ok' %>
  <% end %>
</div>
