<% content_for :your_special_name_for_this_placeholder_you_can_call_it_packs_for_example do %>
  <%= stylesheet_pack_tag 'posts.app.js', media: 'all' %>
  <%= javascript_pack_tag 'posts.app' %>
<% end %>

<h1>Posts</h1>
<h2><%= link_to 'Add Post', new_admin_post_path %></h2>
 
 <table>
<% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to post.title, admin_post_path(post) %>
    </td>
    <td>
      <%= post.body %>
    </td>
    <td><%= link_to 'edit', edit_admin_post_path(post) %></td>
    <td><%= link_to 'delete', admin_post_path(post), method: :delete, data: { confirm: 'Действительно удалить?' } %></td>
  </tr>
<% end %>

</table>
